.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-wrapper {
  overflow: hidden;
  width: 80%;
}

.slider-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-item {
  flex: 0 0 25%;
  padding: 10px;
}
